  <!DOCTYPE html>
<html lang="en">
 <% include ../partials/header %>
<body>

<div class="container-fluid">
  <div class="row content">
    <% include ../partials/navigation %>
     <% include ../partials/main %>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

</body>
</html>